<div class="col-md-3 left_col">
    <div class="left_col scroll-view">

        <div class="navbar nav_title" style="border: 0;">
            <a href="" class="site_title"><i class="fa fa-paw"></i> <span>Inventory System</span></a>
        </div>
        <div class="clearfix"></div>

        <!-- menu prile quick info -->
        <div class="profile">
            <div class="profile_pic">
                <img src="~/images/picture2.jpg" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span>Welcome,</span>
                <h2>Junaid</h2>
            </div>
        </div>
        <!-- /menu prile quick info -->

        <br />

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

            <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                    <li>
                        <a><i class="fa fa-bar-chart-o"></i> Products <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none">
                            <li>
                                <a href="~/Product/List">List Products</a>
                            </li>
                            <li>
                                <a href="~/Product/Create">Add Product</a>
                            </li>
                            <li>
                                <a href="#">Junaid</a>
                            </li>
                            <li>
                                <a href="#">Sheikh</a>
                            </li>
                            <li>
                                <a href="#">Ahmed</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o"></i> Accounts</a>

                    </li>

                    <li>
                        <a><i class="fa fa-bar-chart-o"></i> Vouchers <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none">


                            <li>
                                <a href="#">Journal Voucher</a>
                            </li>

                            <li>
                                <a href="#">Bank Recieved</a>
                            </li>

                            <li>
                                <a href="#">Bank Payment</a>
                            </li>
                        </ul>
                    </li>

                    <li style="">
                        <a><i class="fa fa-bar-chart-o"></i> Purchases<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none">
                            <li>
                                <a href="#">List Purchases</a>
                            </li>
                            <li>
                                <a href="#">Add Purchase</a>
                            </li>
                            <li>
                                <a href="#">List Expenses</a>
                            </li>
                            <li>
                                <a href="#">Add Expense</a>
                            </li>
                            <li>
                                <a href="#">List Return Purchases</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a><i class="fa fa-bar-chart-o"></i> Reports <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none">
                            <li>
                                <a href="#">Product Reports</a>
                            </li>
                            <li>
                                <a href="#">Sales Reports</a>
                            </li>

                            <li>
                                <a href="#">Purchases  Reports</a>
                            </li>
                            <li>
                                <a href="#">Expenses Reports</a>
                            </li>

                            <li>
                                <a href="#">Credit Sales Reports</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-bar-chart-o"></i> People <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none">
                            <li>
                                <a href="#">List Customers</a>
                            </li>
                            <li>
                                <a href="#">Add Customer</a>
                            </li>
                            <li>
                                <a href="~/Supplier/List_Suppliers">List Suppliers</a>
                            </li>

                            <li>
                                <a href="~/Supplier/Create">Add Supplier</a>
                            </li>
                        </ul>
                    </li>
                    <li style="">
                        <a href="~/Home/logout/"><i class="fa fa-bar-chart-o"></i> Log out</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /sidebar menu -->
        <!-- /menu footer buttons -->
        <!-- /menu footer buttons -->
    </div>
</div>

<!-- top navigation -->
<!-- /top navigation -->
<!-- page content -->
<!-- /page content -->
